body{
    font-family: monospace;
    padding: 0;
    margin: 0;
    background: gray;
}
canvas{
    border: 3px solid black;
    margin: auto;
    background: white;
}

a{
    display: inline-block;
    background: #188fff;
    color: white;
    text-decoration: none;
    padding: 11px 5px;
    border-radius: 5px;
}
.paint-equip{
    justify-content: space-around;
    display: flex;
    margin: auto;
}

p{
    text-align: center;
}

.active{
    transform: scale(2.2);
}
.refresh-btn{
    margin-left: 10px;
    background: red;
    padding: 10px 10px;
    cursor: pointer;
    color: white;
}

.pensize{
    display: block;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
}

.blackboard{
    margin: auto;
    width: 800px;
}

.color{
    display: flex;
    margin: 12px 0px 12px 50% ;
}

.colorCircle {
    height: 12px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 5px;
    cursor: pointer;
}

.colorCircle:nth-child(1){
    background-color: blue;
}

.colorCircle:nth-child(2){
    background-color: green;
}
.colorCircle:nth-child(3){
    background-color: black;
}
.colorCircle:nth-child(4){
    background-color: grey;
}
.colorCircle:nth-child(5){
    background-color: indigo;
}

.colorCircle:nth-child(6){
    background-color: violet;
}